@page
@using EasyAbp.AbpModuleHub
@using Microsoft.AspNetCore.Mvc.Localization
@using EasyAbp.AbpModuleHub.Localization
@using Volo.Abp.Data
@using Volo.Abp.Users
@model EasyAbp.AbpModuleHub.Web.Pages.IndexModel
@inject IHtmlLocalizer<AbpModuleHubResource> L
@inject ICurrentUser CurrentUser

@section styles {
    <abp-style src="/Pages/Index.css"/>
}

@section scripts {
    <abp-script src="/Pages/Index.js"/>
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet"/>

<div class="container">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Module Store</h1>
                <p class="lead fw-normal text-white-50 mb-0">Pick modules you need and install them into ABP applications.</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
                @foreach (var module in Model.Modules)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/images/module-default.jpg" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@module.DisplayName</h5>
                                    <p class="text-secondary">
                                        <small>
                                            <i class="fa fa-user-circle" aria-hidden="true"></i> @module.GetProperty(AbpModuleHubConsts.ProductAuthorNameExtraPropertyName)
                                        </small>
                                    </p>
                                    <p class="text-secondary">
                                        <small>@module.GetProperty(AbpModuleHubConsts.ProductDescriptionExtraPropertyName)</small>
                                    </p>
                                    <!-- Product price-->
                                    $69.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" asp-page="/Item" asp-all-route-data="@(new Dictionary<string, string> { { "id", module.Id.ToString() } })">@L["Install"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</div>